/target
/examples/output
/apps/observers-client/dist
/apps/observers-client/odeon-client.git
.DS_Store
/docs/*.pdf
/docs/*.aux
/docs/*.log
/docs/*.out
/docs/*.toc
/docs/*.fls
/docs/*.fdb_latexmk
/docs/*.synctex.gz
/crates/ode-models/docs/*.aux
/crates/ode-models/docs/*.log
/crates/ode-models/docs/*.out
/crates/ode-models/docs/*.toc
/crates/ode-models/docs/*.fls
/crates/ode-models/docs/*.fdb_latexmk
